<h1>Citas</h1>

<div class="centrarBody">
    <table class="tablaEstilo" border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalles</th>
                <th>Estado</th>
                <th>Motivo Cancelacion</th>
                <th>Horario</th>
                <th>Cliente</th>
                <th>Paquete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(citas=> { %>
                <tr>
                    <td>
                        <%= citas.Fecha %>
                    </td>
                    <td>
                        <%= citas.Detalles %>
                    </td>
                    <td>
                        <%= citas.Estado %>
                    </td>
                    <td>
                        <%= citas.Motivo_Cancelacion %>
                    </td>
                    <td>
                        <%= citas.Horario.NombreDia %>
                    </td>
                    <td>
                        <%= citas.Cliente.Nombre_Cliente %>
                    </td>
                    <td>


                        <div class="centrarBody">
                            <div>
                                <label>Paquete: </label>
                                <button id="btnPaquete"> VER Paquete</button>
                            </div>
                        </div>

                        <!-- Modal para Colaborador -->
                        <div id="modalPaquete" class="modal">
                            <h2>Paquete</h2>
                            <div>
                                <%= citas.Paquete.Nombre_Paquete %>,
                                    <%= citas.Paquete.Descripcion_Paquete %>,
                                        <%= citas.Paquete.Tiempo_Minutos_Paquete %> minutos,
                                            <% citas.Paquete.Servicios.forEach(servicio=> { %>
                                                <div>
                                                    <br>
                                                    Servicio: <%= servicio.Nombre_Servicio %>,
                                                        Descripcion: <%= servicio.Descripcion_Servicio %>,
                                                            Tiempo: <%= servicio.Tiempo_Minutos %> minutos,
                                                                <% servicio.Productos.forEach(producto=> { %>
                                                                    <div>
                                                                        Nombre: <%= producto.Nombre_Producto %>,
                                                                            Cantidad: <%= producto.Cantidad %>,
                                                                                Unidad_Medida: <%=
                                                                                    producto.Unidad_Medida %>
                                                                    </div>
                                                                    <% }); %>
                                                </div>
                                                <% }); %>


                            </div>
                            <br>
                            <button onclick="cerrarModal('modalPaquete')" class="fondoVino">Cerrar</button>
                        </div>

                        <script>
                            document.getElementById('btnPaquete').addEventListener('click', function () {
                                document.getElementById('modalPaquete').style.display = 'block';
                            });
                            function cerrarModal(idModal){
                                
                                document.getElementById('modalPaquete').style.display = 'none';};
                        
                            
                        </script>
                    </td>
                    <td>
                        <a href="/citas/edit/<%= citas._id %>">
                            <button class="fondoOro">Editar</button>
                        </a>
                        <br>
                        <form action="/citas/delete/<%= citas._id %>" method="POST">
                            <button type="submit" class="fondoVino">Eliminar</button>

                        </form>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>