<h1>Citas</h1>

<div>
    <table class="tablaEstilo" border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalles</th>
                <th>Estado</th>
                <th>Motivo Cancelacion</th>
                <th>Horario</th>
                <th>Cliente</th>
                <th>Paquete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(citas=> { %>
                <tr>
                    <td>
                        <%= citas.Fecha %>
                    </td>
                    <td>
                        <%= citas.Detalles %>
                    </td>
                    <td>
                        <%= citas.Estado %>
                    </td>
                    <td>
                        <%= citas.Motivo_Cancelacio %>
                    </td>
                    <td>
                        <%= citas.Horario.NombreDia %>
                    </td>
                    <td>
                        <%= citas.Cliente.Nombre_Cliente %>
                    </td>
                    <td>
                        <%= citas.Paquete.Nombre_Paquete %>
                    </td>
                    <td>
 
                        <a href="/usuarios/edit/<%= citas._id %>">
                            <button class="fondoOro">Editar</button>
                        </a>
                        <br>
                        <form action="/usuarios/delete/<%= citas._id %>" method="POST">
                            <button type="submit" class="fondoVino">Eliminar</button>

                        </form>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>