<h1>Configuración</h1>

<div>
    <table class="tablaEstilo" border="1">
        <thead>
            <tr>
                <th>fecha_compra</th>
                <th>productos</th>
                <th>proveedor</th>
                <th>precio</th>
                <th>Motivo_Anular</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(compra=> { %>
                <tr>
                    <td>
                        <%= compra.fecha_compra %>
                    </td>
                    <td>
                        <%= compra.productos.Nombre_Producto %>
                    </td>
                    <td>
                        <%= compra.proveedor.Nombre_Proveedor %>
                    </td>
                    <td>
                        <%= compra.precio %>
                    </td>
                    <td>
                        <%= compra.Motivo_Anular %>
                    </td>
                    <td>
 
                        <a href="/compras/edit/<%= compra._id %>">
                            <button class="fondoOro">Editar</button>
                        </a>
                        <br>
                        <form action="/compras/delete/<%= compra._id %>" method="POST">
                            <button type="submit" class="fondoVino">Eliminar</button>

                        </form>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>