<h1>Configuración</h1>

<div>
    <table class="tablaEstilo" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Instagram</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(usuario=> { %>
                <tr>
                    <td>
                        <%= usuario.Nombre_Usuario %>
                    </td>
                    <td>
                        <%= usuario.Cedula %>
                    </td>
                    <td>
                        <%= usuario.Correo %>
                    </td>
                    <td>
                        <%= usuario.Telefono %>
                    </td>
                    <td>
                        <%= usuario.Instagram %>
                    </td>
                    <td>
                        <%= usuario.Estado_Usuario %>
                    </td>
                    <td>
                        <%= usuario.Rol.Nombre_Rol %>
                    </td>
                    <td>
 
                        <a href="/usuarios/edit/<%= usuario._id %>">
                            <button class="fondoOro">Editar</button>
                        </a>
                        <br>
                        <form action="/usuarios/delete/<%= usuario._id %>" method="POST">
                            <button type="submit" class="fondoVino">Eliminar</button>

                        </form>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>