<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Retirar Insumos</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <a href="/addInsumo" class="btn btn-sm btn-outline-secondary">+ Retirar Insumo</a>
    </div>
  </div>
</div>
  <div class="centrarBody">

    <table class="tablaEstilo" border="1">
        <thead>
          <tr>
            <th scope="col">Fecha de retiro</th>
            <th scope="col">Unidades retiradas</th>
            <th scope="col">Producto retirado</th>
            <th scope="col">Motivo anular</th>
            <th scope="col" class="text-end">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% insumos.forEach(element => { %>
            <tr class="align-middle">
              <td><%= element.Fecha_Retiro %></td>
              <td><%= element.Unidades_Retiradas %></td>
              <td>
                <% if (element.Producto && element.Producto.nombre) { %>
                  <%= element.Producto.nombre %>
                <% } else { %>
                  Sin producto asociado
                <% } %>
              </td>
              <td><%= element.Motivo_Anular %></td>
              <td>
                <a href="/views/edit/<%= element._id %>">
                  <button class="fondoOro">Editar</button>
                </a>
                <br>
                <form action="/edit/delete/<%= element._id %>" method="POST">
                  <button type="submit" class="fondoVino">Eliminar</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
        
      </table>
    </div>