<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ventas</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/add" class="btn btn-sm btn-outline-secondary">+ Nueva Venta</a>
        </div>
    </div>
</div>

<!-- Esto no se si cambiarlo ya que esto es BOOTSTRAP SI O SI
     Estoy viendo si ahorita se podrá mostrar los mensajes de que se ha añadido bien
     un registro, dependerá si quieren que lo dejemos o así o usamos SweetAlert2

       - Patacón con Queso
  -->
<div class="centrarBody">

    <table class="tablaEstilo" border="1">
        <thead>
            <tr>
                <th scope="col">Numero Factura</th>
                <th scope="col">Fecha</th>
                <th scope="col">Colaborador</th>
                <th scope="col">Cedula</th>
                <th scope="col">Estado</th>
                <th scope="col">Cotizacion Fechas y Estado</th>
                <!--<th scope="col">Cliente</th>
                <th scope="col">Detalles Cotizacion</th> -->
                <th scope="col" class="text-end">Opciones</th>
            </tr>
        </thead>

        <tbody>
            <% datos.forEach(element=> { %>
                <tr class="align-middle">
                    <td>
                        <%= element.numeroFactura %>
                    </td>
                    <td>
                        <%= element.Fecha %>
                    </td>
                    <td>
                        <%= element.Colaborador.Nombre_Colaborador %>
                    </td>
                    <td>
                        <%= element.Colaborador.Cedula %>
                    </td>
                    <td>
                        <%= element.Colaborador.Estado %>
                    </td>
                    <td>
                        <%= "Fecha Creacion: " + element.Cotizacion.Fecha_Creacion %> <br>
                            <%= "Fecha Finalización: " + element.Cotizacion.Fecha_Finalizacion %> <br>
                                <%= "Estado Cotización: " + element.Cotizacion.Estado %>
                    </td>

                    <!--<td>
                        <%= // element.Cotizacion.Cliente.Nombre_Cliente %>
                    </td>
                    <td>
                        <% // element.Cotizacion.Detalles_Cotizacion.Productos.forEach(producto=> { %>
                            <div>
                                Nombre: <%= // producto.Nombre_Producto %>,
                                    Precio: <%= // producto.Precio %>,
                                        Unidades: <%= // producto.Unidades %>,
                                            Subtotal: <%= // producto.Subtotal %>
                            </div>
                            <% // }) %>
                    </td> -->
                    <td>
                        <a href="/views/edit/<%= element._id %>">
                            <button class="fondoOro">Editar</button>
                        </a>
                        <br>
                        <form action="/edit/delete/<%= element._id %>" method="POST">
                            <button type="submit" class="fondoVino">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>